<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head>
</head>
<body>
<main th:fragment="mainFragment" class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <h1>Logs</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>event</th>
        <th>quantity</th>
        <th>time</th>
      </tr>
      </thead>
      <tbody th:each="eventLog : ${eventLogs}">
      <tr>
        <td th:text="${eventLog.id}"></td>
        <td th:text="${eventLog.event.name}"></td>
        <td th:text="${eventLog.quantity}"></td>
        <td th:text="${eventLog.time}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>


</body>
</html>