<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>

<main th:fragment="postboxesFragment" class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <h1 th:text="#{index.overview}"></h1>

  <section class="row text-center placeholders" id="postboxes">

   <!-- <th:block th:each="postbox : ${postboxes}">
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs="
             width="200" height="200" class="img-fluid rounded-circle"
             alt="Generic placeholder thumbnail">
        <a th:href="@{'/secure/postbox/' + ${postbox.id} + '/report'}">
          <h4 th:text="'id: ' + ${postbox.id}"></h4>
        </a>
        <div class="text-muted" th:text="${postbox.address}"></div>
      </div>
    </th:block>-->
    <!--<div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs="
           width="200" height="200" class="img-fluid rounded-circle"
           alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <div class="text-muted">Something else</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs="
           width="200" height="200" class="img-fluid rounded-circle"
           alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs="
           width="200" height="200" class="img-fluid rounded-circle"
           alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs="
           width="200" height="200" class="img-fluid rounded-circle"
           alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>-->
  </section>
</main>

</body>
</html>