<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="styleFragment">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/custom/dashboard.css}" rel="stylesheet">
</head>
<body>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:fragment="scriptFragment">
<script th:href="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
</div>

</body>
</html>