<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="~{fragments/static :: styleFragment}">

</head>
<body>
<div th:replace="~{fragments/topNavbar :: topNavbarFragment}"/>

<div class="container-fluid">
  <div class="row">

    <div th:replace="~{fragments/leftNavbar :: leftNavbarFragment}"/>

    <div th:replace="~{fragments/logs :: mainFragment}"/>
  </div>
</div>

<div th:replace="~{fragments/static :: scriptFragment}"/>

</body>
</html>